* {
  margin: 0;
  padding: 0;
  border: none;
}

ol, ol, li {
  list-style: none;
}

a, a:hover {
  text-decoration: none;
}

body {
  background: url("../img/bg.png") no-repeat center/cover;
}

#review .review__btn--gray, #review .review__btn--purple, #service-choose .service-choose__boxes--group3_btn, #service-choose .service-choose__boxes--group2_btn, #service-choose .service-choose__boxes--group1_btn, #our-team .our-team__about--btn, #hero .hero__buttons--gray, #hero .hero__buttons--purple, #header .header__btn {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: white;
  padding: 8px 25px;
  transition: 0.1s;
}

#footer .footer__groups--nav__items, #footer .footer__groups--title, #slider .slider__box3--text-person, #slider .slider__box3--profession-person, #slider .slider__box2--text-person, #slider .slider__box2--profession-person, #slider .slider__box1--text-person, #slider .slider__box1--profession-person, #service-choose .service-choose__boxes--group3_items-subtitles__description, #service-choose .service-choose__boxes--group2_items-subtitles__description, #service-choose .service-choose__boxes--group1-title-subtitles__description, #projects .projects__items--group2_subtitle, #projects .projects__items--group1_subtitle, #our-team .our-team__about--description, #about-working .about-working__title--description, #hero .hero__boxes--item .hero__box--description, #hero .hero__description {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 28px;
  color: rgba(255, 255, 255, 0.6);
}

#slider .slider__title, #service-choose .service-choose__title, #projects .projects__title, #our-team .our-team__about--title, #about-working .about-working__title--ask, #hero .hero__title {
  padding: 7px 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: #16FCD2;
}

#review .review__title, #slider .slider__box3--name-person, #slider .slider__box2--name-person, #slider .slider__box1--name-person, #slider .slider__theme, #service-choose .service-choose__boxes--group3_items-subtitles__price, #service-choose .service-choose__boxes--group2_items-subtitles__price, #service-choose .service-choose__boxes--group1-title-subtitles__price, #service-choose .service-choose__theme, #projects .projects__items--group2_title, #projects .projects__items--group1_title, #projects .projects__theme, #our-team .our-team__about--theme, #about-working .about-working__title--theme, #hero .hero__subtitle {
  font-family: sans-serif;
  padding: 7px 0;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;
}

#review .review__btn--gray:hover, #review .review__btn--purple:hover, #service-choose .service-choose__boxes--group3_btn:hover, #service-choose .service-choose__boxes--group2_btn:hover, #service-choose .service-choose__boxes--group1_btn:hover, #our-team .our-team__about--btn:hover, #hero .hero__buttons--gray:hover, #hero .hero__buttons--purple:hover, #header .header__btn:hover {
  background: rgba(42, 14, 14, 0.93);
}

#review .review__btn--gray:active, #review .review__btn--purple:active, #service-choose .service-choose__boxes--group3_btn:active, #service-choose .service-choose__boxes--group2_btn:active, #service-choose .service-choose__boxes--group1_btn:active, #our-team .our-team__about--btn:active, #hero .hero__buttons--gray:active, #hero .hero__buttons--purple:active, #header .header__btn:active {
  background: rgba(87, 56, 56, 0.74);
}

#projects .projects__items--group2_box, #projects .projects__items--group1_box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 400px;
  height: 350px;
  box-sizing: border-box;
  box-shadow: 0 30px 60px rgba(96, 22, 252, 0.03);
  border-radius: 3px;
  background: #161629;
  border: 1px solid rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

#projects .projects__items--group2_box-3, #projects .projects__items--group2_box-2, #projects .projects__items--group2_box-1, #projects .projects__items--group1_box-3, #projects .projects__items--group1_box-2, #projects .projects__items--group1_box-1 {
  width: 150px;
  height: 25px;
  background: #212136;
  border-radius: 100px;
}

#projects .projects__items--group2_btn, #projects .projects__items--group1_btn {
  border: 0.2px solid white;
  background: transparent;
  border-radius: 80px;
  color: white;
  padding: 5px 20px;
  margin: 30px 0;
  transition: 0.2s;
}

#projects .projects__items--group2_btn:hover, #projects .projects__items--group1_btn:hover {
  background: rgba(22, 185, 8, 0.58);
}

#projects .projects__items--group2_btn:active, #projects .projects__items--group1_btn:active {
  background: #000;
}

#service-choose .service-choose__boxes--group3, #service-choose .service-choose__boxes--group2, #service-choose .service-choose__boxes--group1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 320px;
  height: 460px;
  background: #3F2379;
  border-radius: 10px;
  padding: 20px;
  margin: 0 20px;
  transition: 0.2s;
}

#service-choose .service-choose__boxes--group3:hover, #service-choose .service-choose__boxes--group2:hover, #service-choose .service-choose__boxes--group1:hover {
  transform: scale(1.02);
}

#service-choose .service-choose__boxes--group3_menu, #service-choose .service-choose__boxes--group3_items-title, #service-choose .service-choose__boxes--group2_menu, #service-choose .service-choose__boxes--group2_items-title, #service-choose .service-choose__boxes--group1_menu, #service-choose .service-choose__boxes--group1-title {
  padding: 0 25px;
  font-family: Noto Sans, sans-serif;
  font-weight: bold;
  font-size: 16px;
  color: #FFFFFF;
}

#slider .slider__box3, #slider .slider__box2, #slider .slider__box1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 400px;
  height: 440px;
  border-radius: 3%;
  background: rgba(255, 255, 255, 0.05);
  margin: 0 30px;
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@media (max-width: 1200px) {
  .container, .container2 {
    width: 90% !important;
  }
}
.container {
  width: 1140px;
  margin: auto;
}

.container2 {
  width: 1350px;
  margin: auto;
}

#header {
  padding-top: 50px;
}
#header .header {
  display: flex;
  justify-content: space-between;
}
#header .header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 11%;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  text-align: center;
  color: #ffffff;
  transition: 0.2s;
}
#header .header__logo:hover {
  color: yellow;
}
#header .header__nav--item {
  font-size: 16px;
  line-height: 22px;
  color: rgba(255, 255, 255, 0.8);
  margin: 0 20px;
  transition: 0.3s;
}
#header .header__nav--item:hover {
  color: #16FCD2;
}
#hero .hero {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#hero .hero__description {
  padding: 7px 0;
}
#hero .hero__buttons {
  padding: 10px 0;
  display: flex;
}
#hero .hero__buttons--purple {
  margin: 0 10px;
  background: #6016FC;
}
#hero .hero__buttons--gray {
  margin: 0 10px;
}
#hero .hero__boxes {
  display: flex;
  padding-top: 50px;
}
#hero .hero__boxes--item {
  display: flex;
  flex-direction: column;
  align-items: start;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 5px;
  width: 300px;
  height: 250px;
  margin: 30px;
  padding: 40px;
  transition: 0.3s;
}
#hero .hero__boxes--item:hover {
  cursor: pointer;
  transform: translateY(-20px);
}
#hero .hero__boxes--item .hero__box--logo-tip {
  transition: 0.2s;
}
#hero .hero__boxes--item .hero__box--logo-tip:hover {
  transform: scale(1.2) rotate(-30deg);
  background: #3d2828;
}
#hero .hero__boxes--item .hero__box--title {
  padding: 15px 0;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 25px;
  color: #FFFFFF;
}
#hero .hero__boxes--item .hero__box--description {
  padding: 10px 0;
  text-align: start;
}

#logo {
  padding-top: 50px;
}
#logo .logo {
  border-top: 0.1px solid #c4bcbc;
  border-bottom: 0.1px solid #c4bcbc;
  display: flex;
  justify-content: center;
}
#logo .logo__item {
  padding: 30px;
  color: rgba(182, 189, 162, 0.89);
  font-family: sans-serif;
  font-size: 180%;
  transition: 0.3s;
}
#logo .logo__item:hover {
  cursor: pointer;
  transform: scale(1.3);
}

#about-working {
  padding-top: 120px;
}
#about-working .about-working {
  display: flex;
  align-items: center;
  justify-content: center;
}
#about-working .about-working__title--theme {
  font-size: 30px;
}
#our-team {
  padding-top: 100px;
}
#our-team .our-team {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 0.5px solid #c4bcbc;
}
#our-team .our-team__about {
  padding: 0 40px;
}
#our-team .our-team__about--theme {
  font-size: 30px;
}
#our-team .our-team__about--description {
  margin: 20px 0;
}
#our-team .our-team__about--btn {
  padding: 13px 20px;
}
#our-team .our-team__images {
  position: relative;
}
#our-team .our-team__images--group1 {
  position: absolute;
  top: 120px;
  left: -90px;
}
#our-team .our-team__images--group2 {
  position: relative;
  z-index: 2;
  transition: 0.4s;
}
#our-team .our-team__images--group2:hover {
  transform: translateY(-20px);
}
#our-team .our-team__images--group2--person {
  position: absolute;
  left: -20px;
  border-radius: 50%;
  box-shadow: 0 0 20px #fdcfcf;
  transition: 0.7s;
  bottom: -20px;
}
#our-team .our-team__images--group2--person:hover {
  transform: rotate(360deg);
}
#our-team .our-team__images--group3 {
  position: relative;
  z-index: 3;
  top: -150px;
  right: -170px;
  transition: 0.4s;
}
#our-team .our-team__images--group3:hover {
  transform: translateX(30px);
}
#our-team .our-team__images--group3--person {
  position: absolute;
  right: 120px;
  top: -10px;
  transition: 0.7s;
  border-radius: 50%;
  box-shadow: 0 0 20px #c4a3a3;
}
#our-team .our-team__images--group3--person:hover {
  transform: rotate(360deg);
}

#projects {
  padding-top: 160px;
}
#projects .projects {
  position: relative;
}
#projects .projects__title {
  text-align: center;
}
#projects .projects__theme {
  font-size: 25px;
  text-align: center;
}
#projects .projects__img-shadow {
  position: absolute;
  z-index: -1;
  top: -10px;
}
#projects .projects__items {
  padding-top: 50px;
  display: flex;
  justify-content: space-around;
}
#projects .projects__items--group1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .projects__items--group1_box-2 {
  width: 100px;
}
#projects .projects__items--group1_box-3 {
  width: 200px;
}
#projects .projects__items--group1_title {
  font-size: 15px;
  margin: 5px 0;
}
#projects .projects__items--group1_subtitle {
  font-size: 13px;
  top: -10px;
  line-height: 5px;
}
#projects .projects__items--group2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects .projects__items--group2_box-2 {
  width: 100px;
}
#projects .projects__items--group2_box-3 {
  width: 200px;
}
#projects .projects__items--group2_title {
  font-size: 15px;
  margin: 5px 0;
}
#projects .projects__items--group2_subtitle {
  font-size: 13px;
  top: -10px;
  line-height: 5px;
}
#service-choose {
  padding-top: 70px;
  display: flex;
  align-items: center;
}
#service-choose .service-choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 70px;
  width: 90%;
  height: 700px;
  background: #221048;
  border-radius: 30px;
}
#service-choose .service-choose__theme {
  font-size: 26px;
  text-align: center;
}
#service-choose .service-choose__boxes {
  display: flex;
  align-items: end;
  padding-top: 50px;
}
#service-choose .service-choose__boxes--group1_items {
  display: flex;
}
#service-choose .service-choose__boxes--group1-title-subtitles {
  padding: 0 25px;
  text-align: start;
}
#service-choose .service-choose__boxes--group1_menu {
  font-weight: 400;
  text-align: center;
  line-height: 35px;
}
#service-choose .service-choose__boxes--group1_btn {
  background: white;
  color: #3F2379;
  padding: 20px 90px;
  font-size: 20px;
}
#service-choose .service-choose__boxes--group2 {
  background: #233679;
}
#service-choose .service-choose__boxes--group2_items {
  display: flex;
}
#service-choose .service-choose__boxes--group2_items-subtitles {
  padding: 0 25px;
  text-align: start;
}
#service-choose .service-choose__boxes--group2_menu {
  font-weight: 400;
  text-align: center;
  line-height: 35px;
}
#service-choose .service-choose__boxes--group2_btn {
  background: white;
  color: #233679;
  padding: 20px 90px;
  font-size: 20px;
}
#service-choose .service-choose__boxes--group3 {
  background: #792366;
}
#service-choose .service-choose__boxes--group3_items {
  display: flex;
}
#service-choose .service-choose__boxes--group3_items-subtitles {
  padding: 0 25px;
  text-align: start;
}
#service-choose .service-choose__boxes--group3_menu {
  font-weight: 400;
  text-align: center;
  line-height: 35px;
}
#service-choose .service-choose__boxes--group3_btn {
  background: white;
  color: #3F2379;
  padding: 20px 90px;
  font-size: 20px;
}

#slider {
  padding-top: 200px;
}
#slider .slider__title {
  text-align: center;
}
#slider .slider__theme {
  font-size: 28px;
  text-align: center;
}
#slider .slider {
  position: relative;
  padding-top: 150px;
}
#slider .slider .slick-prev {
  position: absolute;
  font-size: 0;
  border: none;
  background: url("../img/prev1.svg") no-repeat center/30px;
  width: 30px;
  height: 30px;
  left: -35px;
  top: 370px;
}
#slider .slider .slick-next {
  position: absolute;
  font-size: 0;
  border: none;
  background: url("../img/prev2.svg") no-repeat center/30px;
  width: 30px;
  height: 30px;
  right: -35px;
  top: 370px;
}
#slider .slider .slick-dots {
  display: flex;
  justify-content: center;
  margin: auto;
  padding-top: 10px;
}
#slider .slider .slick-dots .slick-active button {
  background: #FFFFFF;
  padding: 7.2px;
  transition: 0.3s;
}
#slider .slider .slick-dots li {
  margin: 0 10px;
}
#slider .slider .slick-dots li button {
  font-size: 0;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background: rgba(255, 255, 255, 0.3);
}
#slider .slider .slick-list .slick-track .slick-current {
  transform: scale(0.9);
  transition: 0.5s;
}
#slider .slider__box1--img {
  position: relative;
  padding-top: 70px;
  transition: 0.2s;
}
#slider .slider__box1--img:hover {
  transform: scale(1.7) translateY(-40px);
}
#slider .slider__box1--img-logo {
  position: absolute;
  bottom: 5%;
  left: 75%;
}
#slider .slider__box1--name-person {
  font-size: 20px;
  padding-top: 10px;
}
#slider .slider__box1--profession-person {
  font-size: 15px;
}
#slider .slider__box1--text-person {
  width: 77%;
  text-align: center;
  padding-top: 50px;
}
#slider .slider__box2--img {
  position: relative;
  padding-top: 70px;
  transition: 0.2s;
}
#slider .slider__box2--img:hover {
  transform: scale(1.7) translateY(-40px);
}
#slider .slider__box2--img-logo {
  position: absolute;
  bottom: 5%;
  left: 75%;
}
#slider .slider__box2--name-person {
  font-size: 20px;
  padding-top: 10px;
}
#slider .slider__box2--profession-person {
  font-size: 15px;
}
#slider .slider__box2--text-person {
  width: 77%;
  text-align: center;
  padding-top: 50px;
}
#slider .slider__box3--img {
  position: relative;
  padding-top: 70px;
  transition: 0.2s;
}
#slider .slider__box3--img:hover {
  transform: scale(1.7) translateY(-40px);
}
#slider .slider__box3--img-logo {
  position: absolute;
  bottom: 5%;
  left: 75%;
}
#slider .slider__box3--name-person {
  font-size: 20px;
  padding-top: 10px;
}
#slider .slider__box3--profession-person {
  font-size: 15px;
}
#slider .slider__box3--text-person {
  width: 77%;
  text-align: center;
  padding-top: 50px;
}

#review {
  padding-top: 100px;
}
#review .review {
  padding-top: 30px;
  padding-bottom: 30px;
  border-top: 0.2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 0.2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#review .review__title {
  width: 43%;
  font-size: 27px;
}
#review .review__btn--purple {
  background: #6016FC;
  margin: 0 20px;
  padding: 12px 40px;
}
#review .review__btn--gray {
  margin: 0 10px;
  padding: 12px 30px;
}

#footer {
  padding: 130px 0;
}
#footer .footer {
  display: flex;
  justify-content: space-around;
}
#footer .footer__groups--title {
  color: #FFFFFF;
  font-size: 14px;
}
#footer .footer__groups--nav {
  padding-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}
#footer .footer__groups--nav__items {
  font-size: 14px;
  transition: 0.1s;
}
#footer .footer__groups--nav__items:hover {
  color: #16FCD2;
}

/*# sourceMappingURL=index.css.map */
